:root {
  --font-family: 'Inter', sans-serif;
  --main-width: 1110px;
  --main-section-padding: 50px;
  --bg-color-light: #f8f8f8;
  --bg-color-dark: #161616;
  --transition-duration-and-func: 100ms linear;
}

/* ================== RESET DEFAULT BRAWSER STYLES ================== */

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--font-family);
  max-width: 1280px;
  margin: 0 auto;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

section {
  border: 1px solid tomato;
}

/* ================== MAIN STYLES ================== */

.container {
  width: var(--main-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid tomato;
}

.hidden {
  display: none;
}

/* ================== SWITCH THEME STYLES ================== */

.bg-light {
  background-color: var(--bg-color-light);
}

.bg-dark {
  background-color: var(--bg-color-dark);
}

.header-light-font {
  color: #050505;
}

.header-dark-font {
  color: #fff;
}

.hero-light-font {
  color: #050505;
}

.hero-dark-font {
  color: #fff;
}

.svg-light-fill {
  stroke: #050505;
}

.svg-dark-fill {
  stroke: #fff;
}

.slider-light-font {
  color: rgba(248, 248, 248, 0.6);
}

.slider-dark-font {
  color: rgba(255, 255, 255, 0.6);
}

.popular-recipes-title-light-font {
  color: #050505;
}

.popular-recipes-title-dark-font {
  color: #fff;
}

.popular-recipes-descr-light-font {
  color: rgba(5, 5, 5, 0.8);
}

.popular-recipes-descr-dark-font {
  color: rgba(255, 255, 255, 0.8);
}

.filters-light-font {
  color: rgba(5, 5, 5, 0.5);
}

.filters-dark-font {
  color: rgba(255, 255, 255, 0.5);
}

.filters-border-light {
  border-color: rgba(5, 5, 5, 0.2);
}

.filters-border-dark {
  border-color: rgba(255, 255, 255, 0.2);
}

.search-icon-fill-light {
  fill: #05050580;
}

.search-icon-fill-dark {
  fill: #ffffff80;
}

.dropdown-fill-light {
  stroke: #05050580;
}

.dropdown-fill-dark {
  stroke: #ffffff80;
}

.categories-border-light {
  border-color: rgba(5, 5, 5, 0.2);
}

.categories-border-dark {
  border-color: rgba(255, 255, 255, 0.2);
}

.categories-title-light-font {
  color: rgba(5, 5, 5, 0.5);
}

.categories-title-dark-font {
  color: rgba(255, 255, 255, 0.5);
}

.categories-items-light-font {
  color: rgba(5, 5, 5, 0.3);
}

.categories-items-dark-font {
  color: rgba(255, 255, 255, 0.3);
}

.recipes-light-font {
  color: #f8f8f8;
}

.recipes-title-dark-font {
  color: #fff;
}

.recipes-button-dark-font {
  color: #fff;
}

.recipes-descr-dark-font {
  color: rgba(255, 255, 255, 0.8);
}

.recipes-rating-dark-font {
  color: rgba(255, 255, 255, 0.5);
}

.pagination-light-font {
  color: #050505;
}

.pagination-dark-font {
  color: #fff;
}

.pagination-border-light {
  border-color: rgba(5, 5, 5, 0.3);
}

.pagination-border-dark {
  border-color: rgba(255, 255, 255, 0.3);
}

/* ================== HEADER ================== */

.header {
  padding-top: 40px;
  padding-bottom: var(--main-section-padding);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 16px;
}

.logo {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.11;
  letter-spacing: -0.72px;
}

.logo-first-part {
  color: #9bb537;
}

.header-nav-list-item__link {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-nav-list-item__link.is-active {
  color: #9bb537;
}

.header-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
}

.shopping-cart-btn {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
}

.shopping-cart-icon {
  width: 24px;
  height: 24px;
}

.theme-switcher-btn {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
}

.switcher-icon-rect {
  width: 46px;
  height: 20px;
  fill: #cecdcd;
  transition: fill var(--transition-duration-and-func);
}

.switcher-icon-rect__dark {
  fill: #9bb537;
  transition: fill var(--transition-duration-and-func);
}

.switcher-icon-circle {
  position: absolute;
  width: 45px;
  height: 20px;
  top: 50%;
  transform: translate(0, -50%);
  fill: #f8f8f8;
}

.switcher-icon-circle__revert {
  transform: translate(58%, -50%);
  transition: transform var(--transition-duration-and-func);
}

.switcher-icon-circle__home {
  transform: translate(0, -50%);
  transition: transform var(--transition-duration-and-func);
}

/* ================== HERO ================== */

.hero {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.hero-container {
  display: flex;
  column-gap: 32px;
}

.hero-description-container {
  width: 446px;
  padding-top: 64px;
}

.hero-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.hero-title-name {
  color: #9bb537;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  width: 408px;
  margin-bottom: 32px;
}

.order-button {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  min-width: 127px;
  min-height: 45px;
  padding: 14px 28px;
  border: 1px solid #9bb537;
  border-radius: 15px;
}

/* ================== CONTENT-BLOCK ================== */

.content-block-container {
  display: flex;
  column-gap: 64px;
  padding-top: var(--main-section-padding);
  padding-bottom: 100px;
}

/* ================== CATEGORIES ================== */

.sidebar-container {
  width: 235px;
  padding-top: 26px;
}

.categories {
  margin-bottom: 64px;
}

.categories-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 176px;
  height: 52px;
  padding: 14px 28px;
  border-radius: 15px;
  border: 1px solid;
  margin-bottom: 42px;
}

.categories-list {
  height: 416px;
  overflow-y: scroll;
}

.category-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}

.category-item:not(:last-child) {
  margin-bottom: 24px;
}

/* ================== POPULAR RECIPES ================== */

.popular-recipe-container {
  width: 100%;
  /* height: 67px; */
  display: flex;
  align-items: start;
  gap: 16px;
}

.popular-recipe-container:not(:last-child) {
  margin-bottom: 32px;
}

.popular-recipes-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.166;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.popular-recipe-image {
  width: 64px;
  height: 64px;
}

.popular-recipe-content-container {
  display: flex;
  flex-direction: column;
  width: 155px;
  height: 67px;
}

.popular-recipe-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.285;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.popular-recipe-description {
  max-height: 41px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ================== RECIPES ================== */

.filters-container {
  margin-bottom: 14px;
}

.filters-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

.form-fileds-container {
  display: flex;
  gap: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.285;
}

.search-input-container {
  position: relative;
}

.filter-search-input {
  width: 280px;
  height: 50px;
  padding: 14px 122px 14px 48px;
  border: 1px solid;
  border-radius: 15px;
  background: transparent;
}

.search-icon {
  position: absolute;
  left: 18px;
  top: 15px;
  width: 18px;
  height: 18px;
}

.select-option {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25px;
}

.select-content {
  position: relative;
  z-index: 1000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  background: transparent;
}

.select-container {
  position: relative;
}

.dropdown-array-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  width: 18px;
  height: 18px;
}

.filter-time-select {
  width: 125px;
  height: 48px;
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid;
}

.filter-area-select {
  width: 141px;
  height: 48px;
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid;
}

.filter-ingredients-select {
  width: 188px;
  height: 48px;
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid;
}

.reset-filters-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.333;
  border: none;
  padding: none;
}

.reset-close-icon {
  width: 16px;
  height: 16px;
}

.recipes-list {
  margin-bottom: 64px;
}

.pagination-btns {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.pagination-btn {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
}

.prev-btns {
  display: flex;
  gap: 8px;
}

.prev-btn {
  background-color: #050505;
}

.numbered-btns {
  display: flex;
  gap: 10px;
}

.numbered-btn {
  border: 1px solid;
}

.next-btns {
  display: flex;
  gap: 8px;
}

.next-btn {
  background-color: #9bb537;
}

.pagination-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
}

.arrow-single {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-left-prev {
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.arrow-right-prev {
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.arrow-left-next {
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.arrow-right-next {
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
